<div class="main">
    <app-box 
        modelPath="http://192.168.10.109:8080/scutum.glb"
        [modelScale]="1"
        [modelPosition]="{ x: 0, y: -100, z: 0 }">
    </app-box>

    <app-armor
        modelPath2="http://192.168.10.109:8080/armor.glb"
        [modelScale2]="150"
        [modelPosition2]="{ x: 0, y: 0, z: 0 }">
    </app-armor>

    <app-sword
        modelPath2="http://192.168.10.109:8080/sword.glb"
        [modelScale2]="100"
        [modelPosition2]="{ x: 0, y: 0, z: 0 }">
    </app-sword>

    <app-helmet
        modelPath3="http://192.168.10.109:8080/helmet.glb"
        [modelScale3]="100"
        [modelPosition3]="{ x: 0, y: 0, z: 0 }">
    </app-helmet>

    <div class="btnsuite">
        <button (click)="switchTheme()">Viking</button>
    </div>
    
    <app-suggestion-form></app-suggestion-form>
</div>
