<div class="main">
    <app-box 
        modelPath="/models/scutum.glb"
        [modelScale]="1"
        [modelPosition]="{ x: 0, y: -100, z: 0 }">
    </app-box>

    <app-armor
        modelPath2="/models/armor.glb"
        [modelScale2]="150"
        [modelPosition2]="{ x: 0, y: 0, z: 0 }">
    </app-armor>

    <app-sword
        modelPath2="/models/sword.glb"
        [modelScale2]="100"
        [modelPosition2]="{ x: 0, y: 0, z: 0 }">
    </app-sword>

    <app-helmet
        modelPath3="/models/helmet.glb"
        [modelScale3]="100"
        [modelPosition3]="{ x: 0, y: 0, z: 0 }">
    </app-helmet>

    <div class="btnsuite">
        <button (click)="switchTheme()">Suite</button>
    </div>
</div>
