<div class="vikingMain">

    <app-viking 
        modelPath="http://localhost:8080/viking_shield.glb"
        [modelScale]="100"
        [modelPosition]="{ x: 0, y: 0, z: 0 }">
    </app-viking>

    <app-viking-casque 
    modelPath5="http://localhost:8080/casque_viking.glb"
    [modelScale5]="2.5"
    [modelPosition5]="{ x: 0, y: -50, z: 0 }">
    </app-viking-casque>

    <app-viking-sword
        modelPath5="http://localhost:8080/viking_sword.glb"
        [modelScale5]="1"
        [modelPosition5]="{ x: 0, y: -100, z: 0 }">
    </app-viking-sword>

    <app-viking-horn
        modelPath5="http://localhost:8080/viking_horn.glb"
        [modelScale5]="0.25"
        [modelPosition5]="{ x: 0, y: -70, z: 0 }">
    </app-viking-horn>

    <app-viking-boat
        modelPath="http://localhost:8080/viking_ship.glb"
        [modelScale]="5.5"
        [modelPosition]="{ x: 0, y: -70, z: 0 }">
    </app-viking-boat>

    <!-- <div class="btnsuite">
        <button (click)="switchTheme()">Viking</button>
    </div> -->
</div>